$red = #7A1705
$indigo = #3959B4
$teal = #2BA089



body
  font-size 16px
  line-height 1.55
  font-family "PT sans"

a
  color #c9302c

ul.var-list li
  padding-top: 10px
  list-style-type: square;

h1
  border-bottom 2px solid $red

/* Nav and logo stuff */
#edu-brand
  color $red

.logo
  float: left
  width 585px

