.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1054px;
}
div.container-fluid#content,
ul#main-content {
  padding-left: 0;
  max-width: 1050px;
}
span.by-line {
  font-size: 12px;
  color: #7f7f7f;
}
#eduviz > div > div:nth-child(1) {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #41484d;
}
#eduviz > div.container-fluid {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #41484d;
}
#eduviz > div.container-fluid a {
  color: #c25400;
}
span.idTag {
  visibility: none;
}
/*** FOR LISTS ***/
#glossary {
  display: none;
/* assume smaller screen first */
  position: fixed;
  top: 3.85rem;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  opacity: 0.95;
  color: #c25400;
}
#glossary li {
  font-size: 13px;
  text-align: beginning;
}
#glossary li a {
  border-left: 1px solid transparent;
  padding-left: 8px;
  padding-right: 8px;
}
/* if screen size gets wider than specified width  */
@media screen and (min-width: 1175px) {
  #glossary {
    display: block;
  }
}
ul {
  list-style: none;
}
ul.diamonds {
  padding-left: 0;
  list-style-position: outside;
  list-style: none;
}
.diamonds li {
  margin-top: 15px;
  margin-left: 25px;
  position: relative;
}
.diamonds li::before {
  content: " ";
  color: rgba(62,62,71,0.8);
  line-height: 1.5;
  background-color: rgba(62,62,71,0.8);
  width: 7px;
  height: 7px;
  position: absolute;
  left: -20px;
  top: 10px;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
h1 {
  text-align: center;
  color: #1d2226;
  font-size: 32px;
  border-bottom: 2px solid #c25400;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
h3 {
  font-weight: 600;
  color: #1d2226;
  font-size: 24px;
  margin-bottom: 20px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
/* Nav and logo stuff */
#edu-brand {
  color: #c25400;
}
.logo {
  float: left;
  width: 585px;
}
