#eduviz > div > div:nth-child(1) {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #41484d;
}
#eduviz > div.container {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #41484d;
}
a {
  color: #c25400;
}
/*** FOR LISTS ***/
ul {
  list-style: none;
}
ul.diamonds {
  padding-left: 0;
  list-style-position: outside;
  list-style: none;
}
.diamonds li {
  margin-top: 15px;
  margin-left: 25px;
  position: relative;
}
.diamonds li::before {
  content: " ";
  color: rgba(62,62,71,0.8);
  line-height: 1.5;
  background-color: rgba(62,62,71,0.8);
  width: 7px;
  height: 7px;
  position: absolute;
  left: -20px;
  top: 10px;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
h1 {
  text-align: center;
  color: #1d2226;
  font-size: 32px;
  border-bottom: 2px solid #c25400;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
h3 {
  font-weight: 600;
  color: #1d2226;
  font-size: 24px;
  margin-bottom: 20px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
/* Nav and logo stuff */
#edu-brand {
  color: #c25400;
}
.logo {
  float: left;
  width: 585px;
}
