$red = #C25400
$indigo = #595959
$blue = #3675B7

$headingColor = #1d2226
$bodyColor = #41484d

#eduviz > div > div:nth-child(1)
  font-family: 'Open Sans', sans-serif;
  font-size 16px
  line-height 1.5
  color $bodyColor

#eduviz > div.container
  font-family: 'Open Sans', sans-serif;
  font-size 16px
  line-height 27px
  color $bodyColor

a
  color #c25400

ul.list
  padding-left 0
  list-style-position outside
  list-style: none

  li
    margin-top 15px
    margin-left 25px
    position relative

  li::before {
    content: " ";
    color: rgba(62,62,71,0.8);
    line-height: 1.5;
    background-color: rgba(62,62,71,0.8);
    width: 7px;
    height: 7px;
    position: absolute;
    left: -20px;
    top: 10px;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
  }


h1
  text-align: center
  color $headingColor
  font-size 32px
  border-bottom 2px solid $red
  letter-spacing: 3px
  margin-bottom 20px

h3
  font-weight: 600
  color $headingColor
  font-size 24px
  margin-bottom 20px

h1
  //font-family 'Dosis', sans-serif
  font-family: 'Montserrat', sans-serif;


/* Nav and logo stuff */
#edu-brand
  color $red

.logo
  float: left
  width 585px

