.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
#content { text-align:left; font-size:12px; }

/************* Viz ***********/
#chart       { float: left; }
#select-vars { float: left; }


.axis { font-size: 12px; }
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #222;
    stroke-width: 1px;
    stroke-opacity: 1;
    opacity: 0.6;
    fill: steelblue;
    fill-opacity: 0.8;
}

.d3-tip{
    width: 250px;
    background-color: rgba(255, 255, 255, 0.85);

    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    font-family: sans-serif;
    /*color: #478D2E;*/
    color: #222;
}